{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/cats/cat-detail.css' %}" /> {% endcomment %}
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="{{product.image}}" alt="">
    <div class="card-body">
        <div class="card-title">
            Name: {{product.name}}
        </div>
        <div class="card-text">
            <div>Seller: {{product.user}}</div>
            <div>Price: ${{product.price}}</div>
            <div>Description: {{product.description}}</div>
            <div>Category: {{product.get_category_display}}</div>
            <a href="{% url 'product-update' product.id %}" class="btn warn">Edit</a>
        </div>
    </div>
</div>
{% endblock %}