{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="gorilla">
                <div class="head">
                    <div class="face-top">
                        <div class="ears">
                            <div class="ear-left"></div>
                            <div class="ear-right"></div>
                        </div>
                        <div class="eyes">
                            <div class="eye-left">
                                <div class="eyeballs">
                                    <div class="eyeball"></div>
                                </div>
                            </div>
                            <div class="eye-right">
                                <div class="eyeballs">
                                    <div class="eyeball"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="face-bottom">
                        <div class="nose">
                            <div class="nose-left">
                            </div>
                            <div class="nose-right"></div>
                        </div>
                        <div class="mouth">
                            <div class="smile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="arms">
                        <div class="arm-left"></div>
                        <div class="arm-right"></div>
                    </div>
                    <div class="chest">
                        <div class="chest-left"></div>
                        <div class="chest-right"></div>
                    </div>
                    <div class="belly">
                        <div class="stomach"></div>
                    </div>
                    <div class="hands">
                        <div class="hand-left"></div>
                        <div class="hand-right"></div>
                    </div>
                    <div class="feets">
                        <div class="feet-left"></div>
                        <div class="feet-right"></div>
                    </div>
        
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger mx-auto w-100 mt-3" role="alert">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="board p-5 mt-5">
                <section class='mx-auto border rounded p-4 bg-light board-form'>
                    <form method="post" class="login">
                        <div class="container d-flex justify-content-center">
                            <svg width="100" height="100" id="svgContainer" style="scale">
                                <polygon id="filledPolygon" points="" fill="none" stroke="black" stroke-width="2" />
                            </svg>
                        </div>
                        <h1 class='text-center'>Login</h1>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            {{ form.username|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Password</label>
                            {{ form.password|add_class:"form-control" }}
                        </div>
                        <input type="hidden" name="next" value="{% url 'product-index' %}" />
                        <button type="submit" class="btn btn-outline-success w-100 submit">Login</button>
                    </form>
                </section>
                <div class="stand top-75 start-50 translate-middle h-75"></div>
            </div>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}