{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block head %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="alert alert-danger mx-auto w-50 mt-3" role="alert">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <section class='w-25 mx-auto mt-5 border rounded p-4'>
        <form action="{% url 'home' %}" method="post" class="login">
            <h1 class='text-center'>Login</h1>
            {% csrf_token %} 
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password|add_class:"form-control" }}
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-outline-success w-100 submit">Login</button>
        </form>
    </section>
{% else %}
    <div class="display-1 text-center">Welcome to Kong's Market</div>
    <div class="w-100 d-flex justify-content-center">
        <img src="{% static 'images/gorilla.png' %}" alt="Logo">
    </div>
    <div class="links d-flex justify-content-center py-3">
        <a class="btn btn-outline-primary w-25 m-1" href="{% url 'product-index'%}">Swing into Savings!</a>
    </div>
    <div class="slider mx-auto">
        <div class="slide active">
          <h1 class="animated-text">Shop like a Trillionaire!</h1>
        </div>
        <div class="slide">
          <h1 class="animated-text">Free Returns Within 90 days</h1>
        </div>
        <div class="slide">
          <h1 class="animated-text">Price Adjustment Within 30 days</h1>
        </div>
    </div>
{% endif %}
{% endblock %}