{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container my-3">
        <h1 class='text-center'>My Listings</h1>
        <div class="row">
            {% for product in products %}
                {% if product.status == False %}
                    <div class="col-md-3 mb-3">
                        <div class="card">
                            <img src="{{product.image}}" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Product Image">
                            <div class="card-body">
                                <div class="card-title">
                                    <a class='product-link w-100' href="{% url "product-detail" product.id %}">
                                        Name: {{product.name}}
                                    </a>
                                </div>
                                <div class="card-text">
                                    <div>Seller: {{product.user}}</div>
                                    <div>Price: ${{product.price}}</div>
                                    <div class='product-detail'>Description: {{product.description}}</div>
                                    <div>Category: {{product.get_category_display}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {%endfor%}
        </div>
    </div>
    <div class="container my-3">
        <h1 class='text-center'>Order Manager</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Order Placed</th>
                <th scope="col">Ship To</th>
                <th scope="col">Product Name</th>
                <th scope="col">Status</th>
                <th scope="col">Update Order Status</th>
                <th scope="col">Cancel Order</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders%}
                    {% if order.product.status == True and order.user != user %}
                        <tr>
                            <th scope="row">
                                <a href={% url 'order-detail' order.id %}>{{order.id}}</a>
                            </th>
                            <td>{{order.created_at}}</td>
                            <td>{{order.user}}</td>
                            <td>
                                <a href="{% url "product-detail" order.product.id %}">
                                    {{order.product.name}}
                                </a>
                            </td>
                            <td>{{order.status}}</td>
                            <td >
                                <a href="{% url 'order-update' order.id %}">
                                    <i class="bi bi-pencil-square text-success text-center"></i>
                                </a>
                            </td>
                            <td>
                                <a href={% url 'order-delete' order.id %}>
                                    <i class="bi bi-x-square-fill text-danger"></i>
                                </a>
                            </td>
                            <td>{{order.total_price}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1 class='text-center'>Purchase History</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Order Placed</th>
                <th scope="col">Ship From</th>
                <th scope="col">Product Name</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders%}
                    {% if order.user == user %}
                        <tr>
                            <th scope="row">
                                <a href={% url 'order-detail' order.id %}>{{order.id}}</a>
                            </th>
                            <td>{{order.created_at}}</td>
                            <td>{{order.product.user}}</td>
                            <td class='w-50'>
                                <a href="{% url "product-detail" order.product.id %}">
                                    Product Name: {{order.product.name}}
                                </a>
                            </td>
                            <td>{{order.status}}</td>
                            <td>{{order.total_price}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}