{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/home.css' %}" /> {% endcomment %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>{{user.username}}'s Listings</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img src="{{product.image}}" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Product Image">
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{% url "product-detail" product.id %}">
                                    Name: {{product.name}}
                                </a>
                            </div>
                            <div class="card-text">
                                <div>Seller: {{product.user}}</div>
                                <div>Price: ${{product.price}}</div>
                                <div>Description: {{product.description}}</div>
                                <div>Category: {{product.get_category_display}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    <h1>{{user.username}}'s Sold Items</h1>
    <h1>{{user.username}}'s Pendings</h1>
    <h1>{{user.username}}'s Order History</h1>
    {% for order in orders%}
        <p>Order Placed: {{order.created_at}}</p>
        <p>User: {{order.user}}</p>
        <p>Product: {{order.product}}</p>
        <p>Seller: {{order.product.user}}</p>
        <p>Product Decription: {{order.product.description}}</p>
        <p>Status: {{order.status}}</p>
        <p>Order Total: {{order.total_price}}</p>
    {% endfor %}


{% endif %}
{% endblock %}